html {
    background: #d36188
}
body {
    margin: 100px;
    background: #00ffff;
}
header {
    padding: 0;
    border: 0;
    margin: 0;
    background: #fff;
}
ul {
    padding: 10;
    border: 0;
    margin: 0;
    background: #888888;
}
h1 {
    padding: 0;
    background: #d36188;
    border: 6px solid #57ACF5;
    color: #A61C00;
    font: 42px Georgia, Helvetics, sans-serif;
}
h2 {
    padding: 0 100px 0 10px;
}
h3 {
    border-top: 4px solid #444444;
    margin: 15px 0 15px 0;
    padding-top: 10px;
    color: #A61C00;
    font: Arial, Georgia, sans-serif;
}
h4 {
    padding: 0 100px 0 10px;
}
h5 {
    padding: 0;
    border: 0;
    margin: 10px 10px 0 10px;
    color: #A61C00
}
p {
    padding: 0 100px 0 25px;
}
